h2  {
    color:black;
    font-style: oblique;
}
body {
    font-family: courier new;
    background: rgb(101, 130, 180);

}

.hwgroup {
    display: inline-block;
    border: 1px solid black;
    padding: 20px;
}